#dropdown-menu-4 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-4 .nav .link,
#dropdown-menu-4 .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-4 .navbar,
#dropdown-menu-4 .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-4 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-4 .dropdown-menu a:hover,
#dropdown-menu-4 .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-4 .navbar-toggler {
  color: #000000;
}
#header4-5 H1 {
  color: #f4e506;
}
#footer1-6 P {
  color: #ffffff;
}
#dropdown-menu-7 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-7 .nav .link,
#dropdown-menu-7 .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-7 .navbar,
#dropdown-menu-7 .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-7 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-7 .dropdown-menu a:hover,
#dropdown-menu-7 .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-7 .navbar-toggler {
  color: #000000;
}
#header4-8 H1 {
  color: #f4e506;
}
#footer1-9 P {
  color: #ffffff;
}
#dropdown-menu-0 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-0 .nav .link,
#dropdown-menu-0 .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-0 .navbar,
#dropdown-menu-0 .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-0 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-0 .dropdown-menu a:hover,
#dropdown-menu-0 .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-0 .navbar-toggler {
  color: #000000;
}
#header4-1 H1 {
  color: #f4e506;
}
#footer1-3 P {
  color: #ffffff;
}
#dropdown-menu-a .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-a .nav .link,
#dropdown-menu-a .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-a .navbar,
#dropdown-menu-a .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-a .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-a .dropdown-menu a:hover,
#dropdown-menu-a .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-a .navbar-toggler {
  color: #000000;
}
#footer1-b P {
  color: #ffffff;
}
